<h2>Kreate Your Own Kat</h2>

<form method='post' action='<%= cats_url %>'>
  <label for='name'>Name:</label>
  <input id='name' name='cat[name]' type='text' value='<%= @cat.name %>'>
  <br>
  <br>
  
  <label for='Sex'>Sex:</label>
  <label>Female
    <input default type='radio' name='cat[sex]' value='<%= @cat.sex %>'>
  </label>
  <label>Male
    <input type='radio' name='cat[sex]' value='<%= @cat.sex %>'>
  </label>
  <br>
  <br>
  <label for='Color'>Color:
    <select name='cat[color]'>
      <option disabled selected>--Please Select--</option>
      <option value='blue'>blue</option>
      <option value='red'>red</option>
      <option value='yellow'>yellow</option>
      <option value='green'>green</option>
      <option value='brown'>brown</option>
      <option value='lilac'>lilac</option>
      <option value='polkadot'>polkadot</option>
    </select>
  </label>
  <br>
  <br>
  <label for='Birthday'>Birthday:
    <input type='date' name='cat[birth_date]' value='<%= @cat.birth_date %>'>
  </label>
  <br>
  <br>
  <label for='Description'>Description:
    <textarea name='cat[description]' value='<%= @cat.description %>'>My kat...</textarea>
  </label>
  <br>
  <br>
  <input type="button" value="Kreate My Kat">
</form>